<div class="details-container">
  <div class="img-col">
    <div class="slideshow-container">
      <div *ngFor="let image of images; let i = index" class="mySlides fade"
        [ngClass]="{ 'active': i === slideIndex - 1 }">
        <img [src]="image" style="width:100%">
      </div>

      <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
      <a class="next" (click)="plusSlides(1)">&#10095;</a>
    </div>
  </div>
  <div class="details-col">
    <div class="details-header">
      <h2>{{productData.name}}</h2>
      <button class="details-fav-btn" (click)="addToFav()" *ngIf="!removeFav"><fa-icon [icon]="faHeart"></fa-icon></button>
      <button class="details-fav-btn-remove" (click)="removeToFav(productData.id)" *ngIf="removeFav"><fa-icon [icon]="faHeart"></fa-icon></button>
    </div>
    <div class="dtl-price">{{productData.price}}</div>
    <p>{{productData.description}}</p>
    <div class="details-cat">Category : {{productData.category}}</div>
    <div class="qty-form">
      <form action="#">
        <label for="quantity">Qty:</label>
        <input type="number" id="qty-input" name="qty-input" value="{{productQuantity}}" min="1" max="10" [(ngModel)]="productQuantity">
      </form>
    </div>
    <div class="details-btns">
      <div class="details-cart-btns">
        <button class="dtls-addto-cart" *ngIf="!removeCart" (click)="addToCart()" matRipple>Add to Cart</button>
        <button class="dtls-addto-cart" *ngIf="removeCart" (click)="removeToCart(productData.id)" matRipple>Remove from Cart</button>
      </div>
      <div class="details-buy">
        <button class="details-buyBtn" matRipple>Buy Now</button>
      </div>
    </div>
  </div>
</div>